{% extends "layouts/main.html" %}

{% set serviceName = "Continue receiving state pension while living abroad (variation 3)" %}
{% set pageName = "Continue receiving state pension while living abroad" %}

{% block pageTitle %}
  {{ pageName }} - {{ serviceName }}
{% endblock %}

{% block header %}
  <header>
    {{ govukHeader() }}
  </header>
  
{% endblock %}

{% block containerStart %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Working, jobs and pensions",
        href: "#"
      },
      {
        text: "State Pension",
        href: "#"
      },
      {
        text: "Retirement abroad
"
      }
    ]
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {{ serviceName }}
      </h1>

      <p>Use this service to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>provide proof of life</li>
        <li>update the bank or building society details where we pay your UK State Pension</li>
        <li>tell us about lasting power of attorney</li>
        <li>update your contact details</li>
      </ul>

      <p>Providing proof of life takes around 2 minutes.</p>

      <h2 class="govuk-heading-m">
        Before you start
      </h2>

      <p>
        You can also <a href="#">provide a life certificate by post</a>.
      </p>

      <p>
        The online service is also <a href="#">available in Welsh (ar gael yn Gymraeg)</a>.
      </p>

      <p>
        You cannot use this service if you are living in the UK.
      </p>

      <p>You will need:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>a phone camera or webcam</li>
      </ul>

      <p>You also need 1 or more of the following documents:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>UK biometric passport</li>
        <li>biometric passport issued by your country of residence</li>
        <li>national identity card issued by your country of residence</li>
        <li>photo ID issued by your country of residence that includes your addresss, like a driver license</li>
      </ul>

     {{ govukButton({
        text: "Start now",
        href: "document-front-scan",
        isStartButton: true
      }) }}

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Subsection
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="https://www.gov.uk/state-pension-if-you-retire-abroad/how-to-claim">
                Claim State Pension abroad
              </a>
            </li>
            <li>
              <a href="https://www.gov.uk/state-pension-if-you-retire-abroad/report-a-change-in-your-circumstances">
                Report a change in your circumstances
              </a>
            </li>
            <li>
              <a href="https://www.gov.uk/state-pension-if-you-retire-abroad" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>

{% endblock %}
