{% extends "layouts/main.html" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% set serviceName = "Confirm your identity for UK State Pension (variation 1)" %}
{% set pageName = "How would you prefer us to contact you about your UK State Pension?" %}

{% block pageTitle %}
  {{ pageName }} – {{ serviceName }}
{% endblock %}

{% block containerStart %}

  {{ govukBackLink({"text": "Back", "href": "javascript:window.history.back()"}) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="check-answers" method="post">

        {{ govukRadios({
          name: "contactPreference",
          fieldset: {
            legend: {
              text: pageName,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          value: data["contactPreference"],
          items: [
            {
              value: "Text message",
              text: "Text message"
            },
            {
              value: "Email",
              text: "Email"
            },
            {
              value: "Post",
              text: "Post"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
