{% extends "layouts/main.html" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% set serviceName = "Confirm your identity for UK State Pension (variation 1)" %}
{% set pageName = "Having trouble taking a picture of yourself?" %}

{% block pageTitle %}
    {{ pageName }} – {{ serviceName }}
{% endblock %}

{% block containerStart %}

    {{ govukBackLink({"text": "Back", "href": "javascript:window.history.back()"}) }}

{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-l">{{ pageName }}</h1>

          <p class="govuk-body">You can still confirm your identity.</p>

          <p class="govuk-body">You will need a letter from a doctor who is registered in your country of residence.</p>

          <p class="govuk-body">The letter should include:</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>the doctor's name</li>
            <li>the address of their registered practice</li>
          </ul>

          <p class="govuk-body">Ask the doctor to write a short letter confirming your identity, and that you are unable to complete the online identity check.</p>

          <p class="govuk-body">On the next page, your'll be able to tell us about the doctor and send us a copy of the letter.</p>

          <input type="hidden" name="proofOfLifeVerifiedOnline" value="No">

          {{ govukButton({
            "text": "Continue",
            "href": "medical-verification"
          }) }}

        </div>
    </div>

{% endblock %}
