{% extends "layouts/main.html" %}
{% set status = "Exploratory" %}
{% block pageTitle %}Customer attorney exploration – version v1{% endblock %}
{% block content %}
{% include "_partials/status-banner.njk" %}
<div class="govuk-grid-row"><div class="govuk-grid-column-two-thirds"><span class="govuk-caption-xl">Exploratory – version v1</span><h1 class="govuk-heading-xl">Customer attorney journey</h1><p class="govuk-body-l">This role is not confirmed. This page exists to support discussion and research planning.</p><h2 class="govuk-heading-m">Questions to answer</h2><ul class="govuk-list govuk-list--bullet"><li>Is this role needed?</li><li>What permissions or consent would be needed?</li><li>What content, data, evidence or support model would change?</li></ul><p class="govuk-body"><a class="govuk-link" href="/docs/design-decisions">View related design decisions</a></p></div></div>
{% endblock %}
