{% extends "layouts/main.html" %}

{% set serviceName = "Continue receiving state pension while living abroad (variation 2)" %}
{% set pageName = "Check your details are up to date before continuing" %}

{% block pageTitle %}
    {{ pageName }} – {{ serviceName }}
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-l">{{ pageName }}</h1>

            <h2 class="govuk-heading-m">Your proof of identity</h2>

            {% set identityDocument = customer.identityDocument %}
            {% set extractedDetails = identityDocument.extractedDetails %}

            {% set extractedAddressHtml %}
              {{ extractedDetails.address.line1 }}<br>
              {% if extractedDetails.address.line2 %}{{ extractedDetails.address.line2 }}<br>{% endif %}
              {{ extractedDetails.address.town }}<br>
              {% if extractedDetails.address.county %}{{ extractedDetails.address.county }}<br>{% endif %}
              {{ extractedDetails.address.postcode }}<br>
              {{ extractedDetails.address.country }}
            {% endset %}
            <p class="govuk-body">If you need to make any changes to your name, date of birth or address then change or rescan your ID document.</p>

            {{ govukSummaryList({
              card: {
                title: {
                  text: identityDocument.type
                },
                actions: { items: [
                  {
                    href: "document-front-scan",
                    text: "Change"
                  }
                ] },
              classes: "govuk-!-margin-bottom-6"
              },
              classes: "govuk-summary-list",
              rows: [
                {
                  key: { text: "Name" },
                  value: { text: extractedDetails.fullName },
                  classes: "govuk-summary-list__row"
                },
                {
                  key: { text: "Date of birth" },
                  value: { text: extractedDetails.dateOfBirth },
                  classes: "govuk-summary-list__row"
                },
                {
                  key: { text: "Address" },
                  value: { html: extractedAddressHtml }
                }
              ]
          }) }}


          {% if data['proofOfLifeVerifiedOnline'] == 'No' %}

          <h2 class="govuk-heading-m">Identity verification by a doctor</h2>

          {% set doctorName = data["doctorFullName"] or customer.doctor.fullName %}

          {% set doctorAddressHtml %}
              {{ data["doctorAddressPractice"] or customer.doctor.practice.name }}<br>
              {{ data["doctorAddressLine1"] or customer.doctor.practice.address.line1 }}<br>
              {% if data["doctorAddressLine2"] or customer.doctor.practice.address.line2 %}
                  {{ data["doctorAddressLine2"] or customer.doctor.practice.address.line2 }}<br>
              {% endif %}
              {{ data["doctorAddressTown"] or customer.doctor.practice.address.town }}<br>
              {% if data["doctorAddressCounty"] or customer.doctor.practice.address.county %}
                  {{ data["doctorAddressCounty"] or customer.doctor.practice.address.county }}<br>
              {% endif %}
              {{ data["doctorAddressPostcode"] or customer.doctor.practice.address.postcode }}<br>
              {{ data["doctorAddressCountry"] or customer.doctor.practice.address.country }}
          {% endset %}

          {% set doctorEmailAddress = data["doctorEmailAddress"] or customer.doctor.emailAddress %}
          {% set doctorPhoneNumber %}
              {% if data["doctor-country-code"] and data["doctor-national-number"] %}
                  +{{ data["doctor-country-code"] }} {{ data["doctor-national-number"] }}
              {% else %}
                  {{ customer.doctor.phoneNumber }}
              {% endif %}
          {% endset %}

          {% set doctorLetterHtml %}
            {% if data["doctorLetter"] or customer.doctor.letter.fileName %}
              <ul class="govuk-list">
                  <li>
                      <a class="govuk-link" href="#">{{ data["doctorLetter"] or customer.doctor.letter.fileName }}</a>
                  </li>
              </ul>
            {% endif %}
          {% endset %}

          {% set doctorContactHtml %}
              <p class="govuk-body">{{ doctorEmailAddress }}</p>
              <p class="govuk-body">{{ doctorPhoneNumber }}</p>
          {% endset %}

              {{ govukSummaryList({
                  classes: "govuk-!-margin-bottom-9",
                  rows: [
                  {
                      key: {
                          text: "Doctor"
                      },
                      value: {
                          text: doctorName
                      },
                      actions: {
                          items: [
                              {
                              href: "doctor",
                              text: "Change",
                              visuallyHiddenText: "doctor's name"
                              }
                          ]
                      }
                  },
                  {
                      key: {
                          text: "Address"
                      },
                      value: {
                          html: doctorAddressHtml
                      },
                      actions: {
                          items: [
                              {
                              href: "doctor",
                              text: "Change",
                              visuallyHiddenText: "doctor's address"
                              }
                          ]
                      }
                  },
                  {
                      key: {
                          text: "Doctor's letter"
                      },
                      value: {
                          html: doctorLetterHtml
                      },
                      actions: {
                          items: [
                              {
                              href: "doctor",
                              text: "Change",
                              visuallyHiddenText: "doctor's letter"
                              }
                          ]
                      }
                  },
                  {
                      key: {
                          text: "Contact details"
                      },
                      value: {
                          html: doctorContactHtml
                      },
                      actions: {
                          items: [
                              {
                              href: "doctor",
                              text: "Change",
                              visuallyHiddenText: "doctor's contact details"
                              }
                          ]
                      }
                  }
                  ]
              }) }}

            {% endif %}

            {% if data['proofOfLifeVerifiedOnline'] == 'Yes' %}

            <h2 class="govuk-heading-m">Receiving your pension payments</h2>
            <p class="govuk-body">We are sending your UK State Pension payments to the following bank account.</p>

            {% set accountName = data["nameOnTheAccount"] or customer.paymentDetails.nameOnTheAccount %}
            {% set sortCode = data["sortCode"] or customer.paymentDetails.sortCode %}
            {% set accountNumber = data["accountNumber"] or customer.paymentDetails.accountNumber %}
            {% set IBAN = data["IBAN"] or customer.paymentDetails.IBAN %}
            {# set rollNumber = data["rollNumber"] or customer.paymentDetails.rollNumber #}

            {% set paymentDetailsHtml %}
              <p class="govuk-body">Payee: {{ accountName }}<br>
                Account number: {{ accountNumber }}<br>
                Sort code: {{ sortCode }}</p>
              <!-- <p class="govuk-body">Roll number: {{ rollNumber }}</p>-->
            {% endset %}

            {% set LPAValue %}
              {% if data["hasLPA"] == "Yes" %}
                  {% for lpa in customer.powerOfAttorney.registeredLPAs %}
                    <p class="govuk-body">{{ lpa.attorney }}<br>
                      <span class="govuk-hint">Registered: {{ lpa.registeredDate }}</span></p>
                  {% endfor %}
                {% else %}
                  None registered
              {% endif %}
            {% endset %}

            {{ govukSummaryList({
              card: {
                title: {
                  text: "Bank details"
                },
                actions: { items: [
                  {
                    href: "review-bank-details",
                    text: "Change"
                  }
                ] },
              classes: "govuk-!-margin-bottom-6"
              },
              rows: [
                  {
                      key: { text: "Recipient name" },
                      value: { text: accountName }
                  },
                  {
                      key: { text: "Account number" },
                      value: { text: accountNumber }
                  },
                  {
                      key: { text: "Sort code" },
                      value: { text: sortCode }
                  },
                  {
                      key: { text: "IBAN" },
                      value: { text: IBAN }
                  }
              ]
            }) }}


            {% set lpas = customer.powerOfAttorney.registeredLPAs %}

            {% if data["hasLPA"] == "Yes" or customer.powerOfAttorney %}
              <table class="govuk-table govuk-!-margin-bottom-6">
                <caption class="govuk-table__caption govuk-table__caption--m">
                  Registered lasting power of attorney<br>
                  <span style="display: block;" class="govuk-body govuk-!-margin-top-4 govuk-!-margin-bottom-0">Your registered attorneys can collect, access and manage your UK State Pension on your behalf. For your protection we will notify them when you use this service.</span>
                </caption>

                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th class="govuk-table__header">Attorney</th>
                    <th class="govuk-table__header">Date registered</th>
                  </tr>
                </thead>

                <tbody class="govuk-table__body">
                  {% for lpa in customer.powerOfAttorney.registeredLPAs %}
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">{{ lpa.attorney }}</td>
                      <td class="govuk-table__cell">{{ lpa.registeredDate }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>

            {% endif %}

            <h2 class="govuk-heading-m">Contacting you</h2>
            <p class="govuk-body">We use these details to contact you regarding your UK State Pension.</p>

            {% set customerAddressHtml %}
              {{ data["addressLine1"] or customer.contactDetails.address.line1 }}<br>
              {% if data["addressLine2"] or customer.contactDetails.address.line2 %}
                {{ data["addressLine2"] or customer.contactDetails.address.line2 }}<br>
              {% endif %}
              {{ data["addressTown"] or customer.contactDetails.address.town }}<br>
              {% if data["addressCounty"] or customer.contactDetails.address.county %}
                {{ data["addressCounty"] or customer.contactDetails.address.county }}<br>
              {% endif %}
              {{ data["addressPostcode"] or customer.contactDetails.address.postcode }}<br>
              {{ data["addressCountry"] or customer.contactDetails.address.country }}
            {% endset %}

            {% set customerEmailAddress = data["emailAddress"] or customer.contactDetails.emailAddress %}

            {% set hasPhoneNumber =
              data["phone-national-number"]
              or customer.contactDetails.phone.nationalNumber
            %}

            {% set customerPhoneNumber %}
              {% if hasPhoneNumber %}
                {% if data["phone-national-number"] %}
                  +{{ data["phone-country-code"] }} {{ data["phone-national-number"] }}
                {% else %}
                  +{{ customer.contactDetails.phone.countryCode }}
                  {{ customer.contactDetails.phone.nationalNumber }}
                {% endif %}
              {% endif %}
            {% endset %}

            {% set customerContactPreference = data["contactPreference"] or customer.contactDetails.contactPreference %}

            {% set addressRow = {
              key: {
                text: "Address"
              },
              value: {
                html: '<a href="review-address" class="govuk-link">Add address</a>'
              }
            } %}

            {% if customerAddressHtml | trim %}
              {% set addressRow = {
                key: {
                  text: "Address"
                },
                value: {
                  html: customerAddressHtml
                },
                actions: {
                  items: [
                    {
                      href: "review-address",
                      text: "Change",
                      visuallyHiddenText: "address"
                    }
                  ]
                }
              } %}
            {% endif %}

            {% set emailRow = {
              key: {
                text: "Email address"
              },
              value: {
                html: '<a href="review-email" class="govuk-link">Add email address</a>'
              }
            } %}

            {% if customerEmailAddress %}
              {% set emailRow = {
                key: {
                  text: "Email address"
                },
                value: {
                  text: customerEmailAddress
                },
                actions: {
                  items: [
                    {
                      href: "review-email",
                      text: "Change",
                      visuallyHiddenText: "email address"
                    }
                  ]
                }
              } %}
            {% endif %}

            {% set phoneRow = {
              key: {
                text: "Phone number"
              },
              value: {
                html: '<a href="review-phone" class="govuk-link">Add phone number</a>'
              }
            } %}

            {% if hasPhoneNumber %}
              {% set phoneRow = {
                key: {
                  text: "Phone number"
                },
                value: {
                  text: customerPhoneNumber
                },
                actions: {
                  items: [
                    {
                      href: "review-phone",
                      text: "Change",
                      visuallyHiddenText: "phone number"
                    }
                  ]
                }
              } %}
            {% endif %}

            {% set contactPreferenceRow = {
              key: {
                text: "Preferred contact method"
              },
              value: {
                html: '<a href="review-contact-preference" class="govuk-link">Add preferred contact method</a>'
              }
            } %}

            {% if customerContactPreference %}
              {% set contactPreferenceRow = {
                key: {
                  text: "Preferred contact method"
                },
                value: {
                  text: customerContactPreference
                },
                actions: {
                  items: [
                    {
                      href: "review-contact-preference",
                      text: "Change",
                      visuallyHiddenText: "preferred contact method"
                    }
                  ]
                }
              } %}
            {% endif %}

            {{ govukSummaryList({
              classes: "govuk-!-margin-bottom-6",
              rows: [
                addressRow,
                emailRow,
                phoneRow,
                contactPreferenceRow
              ]
            }) }}

            {% endif %}

            <h2 class="govuk-heading-m">Ready to continue?</h2>

            <p class="govuk-body">By sending this information you agree that the information on this page is complete and correct. If you deliberately give the wrong or incomplete information, or you do not report any changes, you may:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>be prosecuted</li>
                <li>need to pay a financial penalty</li>
                <li>need to pay back any money you are overpaid if you are asked to</li>
            </ul>

            <form action="/form-handler" method="post" novalidate>

                <input type="hidden" name="answers-checked" value="true">

                {{ govukButton({
                    text: "Accept and send",
                    href: "confirmation"
                }) }}

            </form>

        </div>
    </div>

{% endblock %}
