{% extends "layouts/internal.html" %}

{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/tag/macro.njk" import govukTag %}

{% set pageName = "Life certificate cases" %}

{% block pageTitle %}
  {{ pageName }}
{% endblock %}

{% set rows = [] %}

{% for item in cases %}
  {% set rows = rows.concat([[
    { text: item.id },
    { text: item.customer.nino },
    { text: item.customer.name },
    {
      html: govukTag({
        text: item.status,
        classes: item.statusTagClass
      })
    },
    {
      html: '<a class="govuk-link" href="' + baseUrl + '/case-overview?caseId=' + item.id + '">View case</a>'
    }
  ]]) %}
{% endfor %}

{% block containerStart %}
    {{ govukBreadcrumbs({
    items: [
        {
        text: "Cases",
        href: baseUrl + "/dashboard"
        }
    ]
    }) }}
{% endblock %}

{% block content %}

    <h1 class="govuk-heading-l">{{ pageName }}</h1>

{{ govukTable({
  head: [
    { text: "Case" },
    { text: "NINO" },
    { text: "Customer" },
    { text: "Status" },
    { text: "Action" }
  ],
  rows: rows
}) }}

{% endblock %}