{% extends "layouts/main.html" %}

{% set serviceName = "Continue receiving state pension while living abroad (variation 2)" %}
{% set pageName = "Life certificate complete" %}

{% block pageTitle %}
    {{ pageName }} – {{ serviceName }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukPanel({
        titleText: pageName,
        html: "Your reference number<br><strong>HDJ2123F</strong>"
      }) }}

      <p>
        We have sent you a confirmation email.
      </p>

      <h2 class="govuk-heading-m">
        What happens next
      </h2>

      <p>
        We've sent your life certificate to DWP.
      </p>

      <p>
        They will email you to confirm your pension payments will continue, or to ask for more information.
      </p>
      <p>
        <a href="#">What did you think of this service?</a> (takes 30 seconds)
      </p>


    </div>
  </div>

{% endblock %}
