{% extends "layouts/internal.html" %}

{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageCaption = "Review scanned life certificate" %}
{% set pageName = "Check telephone number" %}

{% block pageTitle %}
  {{ pageName }}
{% endblock %}

{% block content %}

{% if not viewCase %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Life certificate not found</h1>

      <p class="govuk-body">
        There is no life certificate for this customer.
      </p>

      {{ govukButton({
        text: "Back to life certificates",
        href: baseUrl + "/life-certs",
        classes: "govuk-button--secondary"
      }) }}

    </div>
  </div>

{% else %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!-- Caption + H1 -->
      <span class="govuk-caption-m">
        {{ pageCaption }}
      </span>

      <h1 class="govuk-heading-l">
        {{ pageName }}
      </h1>

      <p class="govuk-body">
        Check the telephone number read from the certificate matches what is written on the form.
      </p>

      <!-- Scanned image -->
      <h2 class="govuk-heading-m">From the certificate</h2>

      <div class="app-ocr-image">
        <img
          src="https://placehold.co/610x150?text=Customer telephone cropped from scanned life certificate"
          width="610"
          height="150"
          alt="Cropped image of customer's handwritten telephone number">
      </div>

      <!-- Input -->
      <form method="post">

        {{ govukInput({
          label: {
            text: "Telephone number read from the form",
            classes: "govuk-label--m"
          },
          hint: {
            text: "Change this if it has been read incorrectly."
          },
          id: "telephone",
          name: "telephone",
          value: data.telephone or viewCase.scannedCustomer.phone,
          classes: "govuk-input--width-20"
        }) }}

        <!-- Actions -->
        <div class="govuk-button-group">

          {{ govukButton({
            text: "Save and continue"
          }) }}

          <a class="govuk-link"
             href="{{ baseUrl }}/life-cert/review/exit-confirm?nino={{ nino }}">
             Cancel
          </a>

        </div>

      </form>

    </div>
  </div>

{% endif %}

{% endblock %}