{% extends "layouts/main.html" %}
{% block pageTitle %}Service manager journey – version v3{% endblock %}
{% block content %}
<div class="govuk-grid-row"><div class="govuk-grid-column-two-thirds"><span class="govuk-caption-xl">Version v3</span><h1 class="govuk-heading-xl">Service manager journey</h1><p class="govuk-body-l">This journey shows how a service manager checks workload and service performance.</p>{{ govukButton({ text: "View service overview", href: "/versions/v3/service-manager/dashboard" }) }}</div></div>
{% endblock %}
