{% extends "layouts/main.html" %}

{% set serviceName = "Confirm your identity for UK State Pension (variation 1)" %}
{% set pageName = "We've received your information" %}

{% block pageTitle %}
    {{ pageName }} – {{ serviceName }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukPanel({
        titleText: pageName,
        html: "Your reference number is: <br><strong>HDJ2123F</strong>"
      }) }}

      <p class="govuk-body">We have also emailed this reference number to you.</p>

      <h2 class="govuk-heading-m">What happens next</h2>

      <p class="govuk-body">You do not need to do anything else right now.</p>

      <p class="govuk-body">We will contact you if we need more information.</p>

      <p class="govuk-body"><a href="#">What did you think of this service?</a> (takes 30 seconds)</p>

    </div>
  </div>

{% endblock %}
