{% extends "layouts/main.html" %}

{% set serviceName = "Confirm your identity for UK State Pension" %}
{% set pageName = "Confirm your identity for UK State Pension" %}

{% block pageTitle %}
  {{ pageName }} - {{ serviceName }}
{% endblock %}

{% block header %}
  <header>{{ govukHeader() }}</header>
{% endblock %}

{% block containerStart %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Working, jobs and pensions",
        href: "#"
      },
      {
        text: "State Pension",
        href: "#"
      },
      {
        text: "Retirement abroad"
      }
    ]
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">{{ pageName }}</h1>

      <p class="govuk-body">If you get UK State Pension and live abroad, you can use this service to confirm your identity.</p>

      <p class="govuk-body">This helps us to continue paying your UK State Pension.</p>

      <p class="govuk-body">This service lets you:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>confirm your identity</li>
        <li>check or update your contact details</li>
      </ul>

      <p class="govuk-body">This usually takes 2 minutes.</p>

      <h2 class="govuk-heading-m">
        Before you start
      </h2>

      <p class="govuk-body">You will need:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>a phone, tablet or computer with a camera</li>
      </ul>

      <p class="govuk-body">You also need one of these:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>a UK biometric passport</li>
        <li>a biometric passport issued by your country of residence</li>
        <li>a national identity card issued by your country of residence</li>
        <li>photo ID showing your address, such as a driver license</li>
      </ul>

      <p class="govuk-body">
        You can also <a href="#">complete a Life Certificate abd send it by post</a>.
      </p>

      <p class="govuk-body">
        You cannot use this service if you are living in the UK.
      </p>

      <p class="govuk-body">
        The online service is also <a href="#">available in Welsh (ar gael yn Gymraeg)</a>.
      </p>

     {{ govukButton({
        text: "Start now",
        href: "../authenticate/start?journey=zero-knowledge",
        isStartButton: true
      }) }}

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Subsection
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="https://www.gov.uk/state-pension-if-you-retire-abroad/how-to-claim">
                Claim State Pension abroad
              </a>
            </li>
            <li>
              <a href="https://www.gov.uk/state-pension-if-you-retire-abroad/report-a-change-in-your-circumstances">
                Report a change in your circumstances
              </a>
            </li>
            <li>
              <a href="https://www.gov.uk/state-pension-if-you-retire-abroad" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>

{% endblock %}
