<nav aria-label="Version navigation">


<!--
  <ul class="govuk-list govuk-list--spaced">
    <li>
      <a class="govuk-link" href="/">
        Prototype homepage
      </a>
    </li>
  </ul>
-->

<!--
  <h2 class="govuk-heading-s govuk-!-margin-top-6">
    This version
  </h2>
-->
  <ul class="govuk-list">

    <li>
      {% if versionNav.page == "version-overview" %}
        About this version
      {% else %}
        <a class="govuk-link" href="/versions/{{ version.number }}">
          About this version
        </a>
      {% endif %}
    </li>

    <li>
      {% if versionNav.page == "service-overview" %}
        Service overview
      {% else %}
        <a class="govuk-link" href="/versions/{{ version.number }}/overview">
          Service overview
        </a>
      {% endif %}
    </li>

  </ul>
<hr class="govuk-section-break govuk-section-break--visible">

  <h2 class="govuk-heading-s govuk-!-margin-top-4">
    Versions
  </h2>

  <ul class="govuk-list govuk-list--spaced app-subnav-version ">

    {% for prototypeVersion in versions %}

    {% set labels = [] %}

    {% if prototypeVersion.version == currentVersion %}
      {% set labels = (labels.push("current"), labels) %}
    {% endif %}

    {% if prototypeVersion.version == version.number %}
      {% set labels = (labels.push("this version"), labels) %}
    {% endif %}

    <li class="app-subnav-version__item{% if prototypeVersion.version == version.number %} app-subnav-version__item--current{% endif %}">

        <span class="govuk-body app-subnav-version__number">
        {{ prototypeVersion.data.number }}
        </span>

        <div class="govuk-body app-subnav-version__content">

          {% if prototypeVersion.version == version.number %}
          <strong>
          {% endif %}

            <a class="govuk-link" href="/versions/{{ prototypeVersion.data.number }}">
              {{ prototypeVersion.data.title }}
            </a>

          {% if prototypeVersion.version == version.number %}
          </strong>
          {% endif %}

          {% if labels.length %}
          <br>
          <span class="govuk-hint">
          ({{ labels | join(", ") }})
          </span>
          {% endif %}

        </div>

</li>

{% endfor %}

  </ul>

</nav>
