{% set status = versionStatuses[version.status] %}

{% if status.banner %}

  {{ govukNotificationBanner(status.banner) }}

{% elseif status.warning %}

  {{ govukWarningText(status.warning) }}

{% endif %}
