{% extends "layouts/main.html" %}

{% set serviceName = "Continue receiving state pension while living abroad (variation 3)" %}
{% set pageName = "Life certificate sent" %}

{% block pageTitle %}
    {{ pageName }} – {{ serviceName }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukPanel({
        titleText: pageName,
        html: "Your reference number<br><strong>HDJ2123F</strong>"
      }) }}

      <p>
        We have sent you a confirmation email.
      </p>

      <h2 class="govuk-heading-m">
        What happens next
      </h2>

      <p class="govuk-body">DWP will send you a mesasage to confirm your pension payments will continue, or to ask for more information.</p>

      <p class="govuk-body">
        If you need to, you can <a class="govuk-link" href="https://www.gov.uk/power-of-attorney/register" target="_blank" rel="noopener noreferrer">register a lasting power of attorney</a> with the Office of the Public Guardian. You do not need to wait, and it will not affect the life certificate you have sent today.</p>

      <p class="govuk-body"><a href="#">What did you think of this service?</a> (takes 30 seconds)</p>


    </div>
  </div>

{% endblock %}
