{% extends "layouts/main.html" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "components/app-phone-input/macro.njk" import appPhoneInput %}

{% set serviceName = "Continue receiving state pension while living abroad" %}
{% set pageName = "Contacting your doctor" %}

{% block pageTitle %}
    {{ pageName }} – {{ serviceName }}
{% endblock %}

{% block containerStart %}

    {{ govukBackLink({"text": "Back", "href": "javascript:window.history.back()"}) }}

{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <form class="form" action="check-answers" method="post">

<!--                <span class="govuk-caption-l">About your doctor</span> -->
                <h1 class="govuk-heading-l">{{ pageName }}</h1>

                {{ govukInput({
                    id: "doctor-email-address",
                    name: "doctorEmailAddress",
                    label: {
                        text: "What is your doctor's email address? (Optional)",
                        classes: "govuk-label--m"
                    },
                    hint: {
                        text: "For example, name@domain.com"
                    },

                    value: data["doctorEmailAddress"]
                }) }}

                {{ appPhoneInput({
                    id: "doctor-phone",
                    namePrefix: "doctor",
                    fieldset: {
                        legend: {
                        text: "What is your doctor's phone number?",
                        classes: "govuk-fieldset__legend--m"
                        }
                    },
                    hint: {
                        text: "Include the country code and phone number. For example, +44 7900900123."
                    },
                    countryCode: {
                        value: data["doctor-country-code"]
                    },
                    nationalNumber: {
                        value: data["doctor-national-number"]
                    }
                }) }}

                {{ govukButton({
                    text: "Continue"
                }) }}

            </form>
        </div>
    </div>

{% endblock %}
