{% extends "layouts/main.html" %}

{% set pageName = "Returning you to " + serviceName %}

{% block pageTitle %}
  {{ pageName }} - GOV.UK One Login
{% endblock %}

{% block header %}
  <header>
    {{ govukHeader() }}
  </header>
{% endblock %}

{% block containerStart %}

  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service - your <a class="govuk-link govuk-link--no-visited-state" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({"text": "Back", "href": "javascript:window.history.back()"}) }}

{#
{{ govukLanguageNavigation({
  items: [
    {
      text: "English",
      lang: "en",
      href: "#",
      current: true
    },
    {
      text: "Cymraeg",
      lang: "cy",
      href: "#"
    }
  ]
}) }}

<nav class="govuk-language-navigation" aria-label="Language">
  <ul class="govuk-language-navigation__list">
    <li class="govuk-language-navigation__list-item">
      <span class="govuk-language-navigation__text"
        aria-current="true" lang="en">English</span>
    </li>
    <li class="govuk-language-navigation__list-item">
      <a class="govuk-language-navigation__link" href="#" rel="alternate" lang="cy" hreflang="cy">Cymraeg      </a>
    </li>
  </ul>
</nav>
#}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


        <h1 class="govuk-heading-l">{{ pageName }}</h1>

        <div class="hods-loading-spinner">
          <div class="hods-loading-spinner__spinner" aria-live="polite" role="status"></div>
          <div class="hods-loading-spinner__content">
            <p class="govuk-body">Please wait</p>
          </div>
        </div>


    </div>
  </div>


  <script>
    setTimeout(() => {
      window.location.replace('{{ destination }}');
    }, 3000);
  </script>

{% endblock %}
