{% extends "layouts/main.html" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% set serviceName = "Continue receiving state pension while living abroad" %}
{% set pageName = "Have you received a letter from DWP?" %}

{% block pageTitle %}
    {{ pageName }} – {{ serviceName }}
{% endblock %}

{% block containerStart %}

    {{ govukBackLink({"text": "Back", "href": "javascript:window.history.back()"}) }}

{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <form class="form" method="post">

                {{ govukRadios({
                    name: "receivedDwpLetter",
                    fieldset: {
                        legend: {
                            text: pageName,
                            isPageHeading: true,
                            classes: "govuk-fieldset__legend--l"
                        }
                    },
                    items: [
                        {
                            value: "Yes",
                            text: "Yes"
                        },
                        {
                            value: "No",
                            text: "No"
                        }
                    ]
                }) }}

                {{ govukButton({
                    text: "Continue"
                }) }}

            </form>
        </div>
    </div>

{% endblock %}
